<%= render "navbar" %>
<%= render "banner", image: "home-banner.jpg", title: "Welcome !", text: "Manage your movies !" %>

<div class="container">
  <h1 class="mb-4">My Lists</h1>

  <div class="row mb-3">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <% if list.picture.present? %>
            <%= link_to list_path(list) do %>
              <div class="image-container">
                <%= cl_image_tag list.picture.key, class: "card-category-img-top img-fluid", alt: list.name %>
                <div class="card-body-overlay">
                  <%= list.name %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
