<%= render "navbar" %>

<div class="container mt-5 pt-5">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url, label: "Url de l'image" %>
    <%= f.submit class:"btn btn-primary"%>
  <% end %>
</div>
