<div class="container">
  <h1>Add a movie to your <%= @list.name %> list</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, prompt: "Select a movie" %>
    <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
    <%= f.submit "Add movie", class: "btn btn-primary" %>
  <% end %>
</div>
